@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

:root{
    --primary-color: rgba(50,100,150, .8);
}

body{
    margin:0;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(245, 240, 245, 0.6);
    
}

.main-flex-container{
    height: 100vh;

    display: flex;
    justify-content: center;
}

  

main{
    
    flex: 13;
    display: flex;
    flex-direction: column;
    
}
.row{
    
    flex: 4.5;
}
.row-flex{
    display: flex;
    flex-wrap: wrap;
}
#row-2{
    margin-bottom: 2vh;
}
.card{
    flex: 1;
    color: #000;
    margin: 0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #fff;
    border-radius: 2%;
    box-shadow: 0 3px 3px rgba(100, 100, 255, 0.08);
    border: 0.1rem solid rgba(100, 100, 255, 0.1);
         
}
.card-header{
    font-size: 1.6rem;
    
    flex: 1;
    background-color: var(--primary-color);
    color: white;
    margin: -15px 0 0 -5px;
    padding: 2px 2px 2px 2px;
    

}
.card-body{
    flex: 5;
    width: 100%;
    
}
.card:hover{
    transform: scale(1.007);
  

}
.metric-stat{
    font-size: 1.2rem;
    padding: 8% 0 8% 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.card-map{
    flex: 2;
}

.card-chart{
    flex: 5;
}

.min, .avg, .max{
    margin-bottom: 10%;
}

nav{
    /* background-color: #222; */
    background-color: var(--primary-color);
    flex: 1;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
} 
.nav-items{
    padding: 0.5rem;
    display:flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.nav-item{
    padding: 30%;
    font-size: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #ffffffdd;
}
.nav-item:hover{
    color: #ffffff;
    transform: scale(1.2);
}


#header-row{
    order:-1;
    flex: 1;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-evenly;
    padding: 0.7%;
    border-top: 5px solid var(--primary-color)
}

.header:hover{
    transform: none;
}

.site-title{
    flex:1;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--primary-color);
}

#date-control{
    min-width: 150px;
    max-width: 300px;
    height:5vh;
    background:none;
    border: 3px solid var(--primary-color);
    color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    border-radius: 2%;
    font-weight: bold;
    font-size: large;
}